/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html{
  background-image: url("https://images.hdqwalls.com/wallpapers/outer-digital-space-tq.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  display: block;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: xxx-large;
  padding-top: 20vh;
  margin-bottom: 20px;
}

button{
  display: block;
  margin: 0 auto;
  font-size: xx-large;
  padding: 10px;
  background-color: gray;
  text-align: center;
  border: solid 2px;
  border-radius: 15px;
  cursor: pointer;
}

.muteButton{
  width: 100px;
  height: 100px;
}